body {
  background-color: rgb(177,156,217);
  color: rgb(53,27,102);
  font-family: helvetica,sans-serif;
}
h1 {
  font-family: helvetica,sans-serif;
  font-size: 32px;
}
p {
  font-family: helvetica, sans-serif;
  font-size: 18px;
}
button {
  font-size: 14px;
  background-color: slateblue;
  border-radius: 12px;
  padding: 5px;
}
select {
  font-size: 14px;
  padding: 5px;
  height: 30px;
}
a {
  display: block;
  padding-bottom: 20px;
}
img {
  border-radius: 15px;
}
