.wrapper {
  margin: 0 auto;
  max-width: 700px;
  background-color: rgb(53,27,102);
  padding: 30px;
}
html {
  min-height: 100%;
  position: relative;
}
body {
  background-color: rgb(177,156,217);
  color: rgb(177,156,217);
  font-family: helvetica,sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 100px;
}
h1 {
  font-family: helvetica,sans-serif;
  font-size: 32px;
}
p {
  font-family: helvetica, sans-serif;
  font-size: 18px;
}
button {
  font-size: 14px;
  background-color: slateblue;
  border-radius: 12px;
  padding: 5px;
}
select {
  font-size: 14px;
  padding: 5px;
  height: 30px;
}
a {
  display: block;
  font-size: 14px;
  background-color: slateblue;
  border-radius: 12px;
  padding: 5px;
  margin-bottom: 10px;
  width: 100px;
  margin: 0 auto;
  text-decoration: none;
  color: rgb(53,27,102);
  font-size: 14px;
}
a:visited {
  color: rgb(53,27,102);
}
img {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  border-radius: 15px;
  max-width: 500px;
  max-height: 375px;
  width: 100%;
}
footer {
  color: rgb(53,27,102);
  bottom: 0;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
}
footer .wrapper {
  background-color: transparent;
  padding: 0;
}
.fb_iframe_widget span {
      height: 24px !important;
}
.fb-share-button{
  display: none;
}
.twitter-share-button{
  visibility: hidden;
}
